

    <div class="post-card-container">
        {% for post in posts %}
        <a href="{% url 'post_details' post.id %}">
        <div class="post-card">
            <p>By: {{post.author}}</p>
            <p>Title: {{post.title}}</p>
            <p>Company: {{post.company}}</p>
            <p>Stars given: {{post.stars}}</p>
            {% if post.upload|length > 0 %}
            <img class="image" src="{{post.upload.url}}" alt="">
            {% endif %}
        </div>
        </a>
        {% endfor %}
    </div>
