body {
    display: grid;
    grid-template-rows: 3fr 25fr 1fr;
    grid-template-areas: 
    "head",
    "body",
    "footer";
    max-height: 100vh;
    /* font-family: 'Finger Paint', cursive; */
    font-family: 'Permanent Marker', cursive;
}

main {
    background-color: rgba(0, 0, 0, 0.744);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 60vw;
    height: 60vh;
    border-radius: 1em;
    border: solid 0.1px rgba(0, 0, 0, 0.347);
    background-color: rgb(227, 202, 219);
    box-shadow:1px 1px 10px 10px #e2f2fb4d;
    transition: box-shadow 0.25s ease-in;
    padding: 3em;
    border: solid 5px rgba(0, 0, 0, 0.479);
    overflow: scroll;

}

.content:hover {
    /* transform: scaleX(0); */
    box-shadow: 1px 1px 10px 10px #e2f2fb;
    margin: -5px;
    transition:0.25s ease-out;
}

.image {
    height: 100px;
}

.post-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.post-card {
    border: 2px solid black;
    border-radius: 1em;
    margin: 1em;
    padding: 1em;
    height: 12em;
    width: 14em;
    overflow: scroll;
    border: solid 5px rgba(0, 0, 0, 0.781);
    background-color: rgb(254, 255, 191);
    box-shadow:1px 1px 4px 4px #e2f2fb4d;
    transition:0.25s ease-in;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    object-fit: contain;
}

.post-card:hover {
    box-shadow: 1px 1px 10px 10px #e2f2fb;
    transition:0.25s ease-out;
}

#header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
    background-color: rgba(192, 105, 160, 0.831);
    box-shadow: 7px 7px 7px 7px #e2f2fb4d;
    text-decoration: none;
    position: relative;
    font-size: 1.5em;
}

#header:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1%; 
    margin-bottom: -1px;
    bottom: 0;
    left: 0;
    box-shadow: 7px 7px 7px 7px #e2f2fb;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

#header:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
    /* border-bottom: solid 5px rgba(0, 0, 0, 0.479); */
}

#header-links {
    display: flex;
    align-items: center;
}

a {
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
    text-decoration: none;
    position: relative;
    color: black;
}

a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    margin-bottom: -4px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


footer {
    background-color: rgba(251, 241, 43, 0.452);
    display: flex;
    justify-content: center;
    align-items: baseline;
    box-shadow: 1px 1px 10px 10px #e2f2fb4d;

}

.title {
    font-size: 1em;
    text-shadow: 0px 0px 10px #ffffff4f, 0 0 10px #ffffff59, 0 0 15px #e2f2fb, 0 0 20px #e2f2fb, 0 0 25px #e2f2fb, 0 0 30px #e2f2fb, 0 0 35px #e2f2fb;
    color: white;
    text-shadow: 0px 0px 10px #ffffff4f, 0 0 10px #ffffff59, 0 0 15px #000000, 0 0 20px #000000, 0 0 25px #000000, 0 0 30px #000000, 0 0 35px #000000;
    transition: 0.25s color ease-out;
}

#title-head {
    font-size: 3em;
    margin-left: 0.5em;
}

.title:hover {
    color: black;
    text-shadow: 0px 0px 10px #ffffff4f, 0 0 10px #ffffff59, 0 0 15px #e2f2fb, 0 0 20px #e2f2fb, 0 0 25px #e2f2fb, 0 0 30px #e2f2fb, 0 0 35px #e2f2fb;
    transition: 0.25s ease-out;
    width: 0%;
}
.title:after {
    color: black;
    text-shadow: 0px 0px 10px #ffffff4f, 0 0 10px #ffffff59, 0 0 15px #e2f2fb, 0 0 20px #e2f2fb, 0 0 25px #e2f2fb, 0 0 30px #e2f2fb, 0 0 35px #e2f2fb;
    transition: 0.25s ease-out;
    width: 0%;
}
/* #title:before {
    color: black;
    text-shadow: 0px 0px 10px #ffffff4f, 0 0 10px #ffffff59, 0 0 15px #e2f2fb, 0 0 20px #e2f2fb, 0 0 25px #e2f2fb, 0 0 30px #e2f2fb, 0 0 35px #e2f2fb;
    width: 0%;
} */



#title-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
